<script src="https://cdnjs.cloudflare.com/ajax/libs/qs/6.9.3/qs.min.js"></script>
<script src="/socket.io/socket.io.js"></script>
<script src="lib/jquery/jquery.min.js"></script>
<script src="lib/loading-plugin/waitMe.js"></script>
<script src="js/main.js"></script>

</body>
</html>